.wrapper{
    display: flex;
    flex-direction: column;
}
.wrapper .dashboard{
    padding: 40px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    align-items: center;
    flex-flow: wrap;
}

.wrapper .dashboard > .menuBox{
    height: 250px;
    width: 250px !important;
    background-color: #13110f54;
    border: 2px solid #000;
    font-weight: bold;
    text-align: center;
    color: #fff;
}

.wrapper .dashboard > .menuBox:hover{
    scale: 1.1;
    cursor: pointer;
    background-color: #000;
    border: 2px solid #ccc;
    color: #fff;
}

.wrapper .dashboard .dashboardIcons{
    font-size: 150px;
    height: 150px;
    width: 150px;
}